{
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 100,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "parser": "php",
                "phpVersion": "7.4",
                "braceStyle": "1tbs",
                "printWidth": 120
            }
        },
        {
            "files": "*.{css,scss}",
            "options": {
                "parser": "css",
                "printWidth": 100
            }
        },
        {
            "files": "*.{json,md}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
