<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="tests/php/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/php/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/php/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./includes</directory>
            <directory suffix=".php">./admin</directory>
            <directory suffix=".php">./public</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
            <directory>./node_modules</directory>
            <directory>./dist</directory>
        </exclude>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>

    <php>
        <env name="WP_TESTS_DIR" value="vendor/wordpress/wordpress-tests-lib"/>
        <env name="WP_CORE_DIR" value="vendor/wordpress/wordpress"/>
        <env name="WP_CONTENT_DIR" value="vendor/wordpress/wordpress/wp-content"/>
        <env name="WP_PLUGIN_DIR" value="vendor/wordpress/wordpress/wp-content/plugins"/>
        <env name="WP_THEME_DIR" value="vendor/wordpress/wordpress/wp-content/themes"/>
        <env name="WP_MULTISITE" value="0"/>
        <env name="ABSPATH" value="vendor/wordpress/wordpress/"/>
        <env name="WP_DEBUG" value="true"/>
        <env name="WP_DEBUG_LOG" value="true"/>
        <env name="WP_DEBUG_DISPLAY" value="true"/>
        <env name="WP_ENVIRONMENT_TYPE" value="testing"/>
        <env name="TEST_DB_NAME" value="wordpress_test"/>
        <env name="TEST_DB_USER" value="root"/>
        <env name="TEST_DB_PASS" value=""/>
        <env name="TEST_DB_HOST" value="localhost"/>
        <env name="TEST_TABLE_PREFIX" value="wptests_"/>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
    </php>

    <listeners>
        <listener class="Yoast\PHPUnitPolyfills\Polyfills\AssertionRenamer"/>
    </listeners>
</phpunit>
